body {
    font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 10px;
}

h5 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 3px;
}

h6 {
    margin-top: 3px;
    font-size: 13px;
    text-align: center;
}

table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    
}
table thead tr th {
    font-weight: bold;
    text-align: left;
    border: none;
    border-top: solid 1px #000;
    border-left: none;
    border-right: none;
    border-bottom: solid 1.5px #000;
    padding: 5px;
}
table tbody tr td {
    text-align: left;
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #666;
    padding: 5px;
}