.column_nama img{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.column_nama a{
    position: relative;
    top: 1px;
    font-size: 13px;
    text-transform: uppercase;
    left: 2px;
}

.column_alamat{
    font-size: 78%;
    text-transform: uppercase;
}

.column_kontak li i{
    font-size: 12px;
}